<div class="document-card-form">
  <div class="card w-50">
    <div class="card-body">
     <%= bootstrap_form_for(@document) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :content,  rows: "10" %>
      <%= f.hidden_field :topic, value: @topic_id %>
      <br/>
      <%= f.submit "Register", class: "btn btn-primary" %>
     <% end %>
    </div>
  </div>
</div>
