<p id="notice"><%= notice %></p>

<div class="container">
  <div class="title">
    <h1>Documents</h1>
  </div>

  <div class="document-cards">
    <% @documents.each do |document| %>
      <div class="document-item">
        <h2 class="document-title"><%= document.title %></h2>
        <p style="font-size: 20px"><%= document.content %></p>
        <div class="btn btn-primary"><%= link_to 'Edit', edit_document_path(document) %></div>
        <div class="btn btn-outline-danger"><%= link_to 'Exclude', document, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
  <br>


  <%= link_to 'New Document', new_document_path(:topic_id => @topic_id) %> |
  <%= link_to 'Back', topics_path %> 

</div>



